* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-box-size-adjust: 100%;
  background: #212121;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: Karla;
  font-weight: 400;
  src: url(../font/Karla-Regular.ttf);
}
@font-face {
  font-family: Karla;
  font-weight: 700;
  src: url(../font/Karla-Bold.ttf);
}
@font-face {
  font-family: Karla;
  font-weight: 700;
  src: url(../font/Karla-Bold.ttf);
}
@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url(../font/Roboto-Regular.ttf);
}
@font-face {
  font-family: SourceSansPro;
  font-weight: 400;
  src: url(../font/SourceSansPro-Regular.ttf);
}
header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  background-color: #F5DB13;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.wrapper-header {
  width: 1130px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 60%;
}

.header__menu-item a {
  text-decoration: none;
  color: #000000;
  font-family: Karla;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
}

.header__menu-item-link {
  position: relative;
  display: inline-block;
}

.header__menu-item-link::after {
  content: "";
  position: absolute;
  background: #000;
  left: 0;
  bottom: -15px;
  width: 100%;
  height: 3px;
}

.main {
  width: 1130px;
  margin: 0 auto;
  background: #212121;
}

.main__text-title {
  font-family: Karla;
  font-weight: 400;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
  color: #FFFFFF;
  padding-bottom: 19px;
  padding-top: 39px;
  border-bottom: 1px solid #FFFFFF;
}

.main__card {
  margin: 45px 0;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__text {
  width: 412px;
  height: 417px;
}

.card__text-title {
  font-family: Karla;
  font-weight: 400;
  font-size: 72px;
  line-height: 84px;
  letter-spacing: 4px;
  color: #FDFDFD;
}

.card__text-description {
  font-family: SourceSansPro;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding-bottom: 25px;
}

.card__skills {
  width: 410px;
  height: 195px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__skills-point {
  width: 185px;
  height: 50px;
}

.card__skills-name {
  font-family: Karla;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FDFDFD;
}

.card__skills-number {
  font-family: Karla;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FDFDFD;
}

.card__skills-line {
  width: 168px;
  height: 7px;
  background: #FFFFFF;
  border-radius: 8px;
}

.card__skills-line-yellow {
  width: 138px;
  height: 7px;
  background: #F5DB13;
  border-radius: 8px;
}

.card__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team {
  width: 1125px;
  height: 202px;
}

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 106%;
}

.team__item-hero {
  position: relative;
  width: 136px;
  height: 190px;
  background: radial-gradient(677.11% 487.95% at 102.13% -20%, #B57E10 0%, #B57E10 20.31%, #F9DF7B 39.58%, #FFF3A6 59.38%, #F9DF7B 78.13%, #B57E10 100%);
  border-radius: 18px;
}

.team__item-hero-image {
  position: absolute;
  left: -15px;
  top: -5px;
  -webkit-transform: scale(105%);
          transform: scale(105%);
  z-index: 1;
}

.team__item-hero-name {
  position: absolute;
  bottom: 0;
  width: 136px;
  height: 52px;
  background: #FFFFFF;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-name {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1D1E1D;
}

.shadow {
  opacity: 0.5;
}

.footer {
  padding-top: 123px;
  padding-bottom: 46px;
  width: 1130px;
  height: 122px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1129px;
  margin: 0 auto;
}

.footer__text {
  font-family: Karla;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #F2F2F2;
}